<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047702083314-3ekg6l23fnhrk75u378d6vf8etavusvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047702083314-3ekg6l23fnhrk75u378d6vf8etavusvu</string>
	<key>API_KEY</key>
	<string>AIzaSyD8dSVyAvqJLx6wua1gHnpl_Xpjfc0KxC4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047702083314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withadifens.lokerify</string>
	<key>PROJECT_ID</key>
	<string>lokerify-1513a</string>
	<key>STORAGE_BUCKET</key>
	<string>lokerify-1513a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047702083314:ios:eed06142f5a3b73ca8a26b</string>
</dict>
</plist>